
/*1St section starts*/
body{
    margin: 0;
}

.first-container{
    display: flex;
    margin-bottom: 150px;
    }

.first-half-width{
width: 50%;
 padding-left: 7%;
}
.first-side{
    border-left: 5px solid;
    border-image: linear-gradient(DarkViolet,Crimson);
    border-image-slice: 1;
}

.first-side h1{
    font-size: 50px;
}



.span-text{
    color:Fuchsia;
}

.first-para{
    font-size: 25px;
    
}


.link-button-one{
    text-decoration: none;
    background-color: orange;
    padding: 4px 7px;
border-radius: 5px;
background-image: linear-gradient(Chocolate,Crimson);
color: Cyan;
font-weight: 500;

}


/*step one done*/
/*section two starts*/







.sec-two{
    text-align: center;
    font-size: 50px;
}
.sec-two-part{
color:Fuchsia;

}
.second-container{
    display: flex;
    margin: 10px;
   
}
.mission{
    background-color:yellow; 
    margin-left: 20%;
    padding: 10px;
    border-radius: 15px;
}

.vission{
    background-color: hotpink;
    padding: 10px;
    border-radius: 15px;
    margin-left: 1%;
    margin-right: 1%;
}

.goals{
    background-color:gray; 
    margin-right: 20%;
    padding: 10px;
    border-radius: 15px;
}
section img{
    width: 30%;
}
.head-skills{
    font-size: 30px;
}
.skills{
    font-size: 18px;
}

/*secon done*/

/*third section starts */



.container-three{
    display: flex;
    margin-top: 100px;

}
.laptop{
    margin-left: 20%;
    padding: 10px;
}

.laptop img{
    width: 80%;
 }

.third-para{
    margin-right: 20%;
    padding: 10px;}
 .description{
     font-size: 30px;
 }
 .article{
     font-size: 20px;
 }

    .link-button-two{
        text-decoration: none;
        background-color: orange;
        padding: 10px 15px;
    border-radius: 15px;
    background-image: linear-gradient(Chocolate,Crimson);
    color: Cornsilk;
    font-weight: 700;
    
    }


/*third section done*/
/*fourth section starts*/


.container-four{
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    
     image width :5px;

}

.fourth-section-width{
    width: 50%;
    padding-left: 7%;
    }

    .link-button-four{
        text-decoration: none;
        background-color: orange;
        padding: 10px 15px;
    border-radius: 15px;
    background-image: linear-gradient(Chocolate,Crimson);
    color: Cornsilk;
    font-weight: 700;
    }

    /* fourth step done*/
    /* fifth starts*/
    .flexible-container-five{
        display: flex;
        margin-left: 7%;
    } 
.description-job{
    font-size: 45px;
    text-align: center;
    padding-top: 50px;
    padding-bottom:20px ;
}
.five-width{
    width: 50%;
    padding-left: 7%;
}
.link-button-five{
    text-decoration: none;
    background-color: orange;
    padding: 10px 15px;
border-radius: 15px;
background-image: linear-gradient(Chocolate,Crimson);
color: Cornsilk;
font-weight: 700;
}
.article-para{
    font-size: 19px;
    width: 80%;
    padding-right: 3%;
}

/*fifth done */
/*last starts*/

.last-part{
    background-color: black;
}
.digit{
    font-style: normal;
    color: lightgreen;
}
.italic{
    font-style: italic;
    color: lightcoral;
}
.last-p{
    color: white;
    text-align: center;
    font-size: 16px;
    margin-bottom: 0;
    padding-bottom: 50px;
}
.last-head{
    text-align: center;
    padding-top: 20px;
}
/*end*/